.managecountry-container {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    position: absolute;
    left: 15rem;
    top: 105px;
    height: 80vh;
}

.fistline {
    width: 85%;
    display: flex;
    align-items: center;
    height: 77px;
    margin: 3px;
    margin-top: 10px;
    position: relative;
    border-right: none !important;
    overflow: hidden;
    border: 0.5px solid #000000;
    border-radius: 4px;
    border: ridge;
}
.MuiFormControl-root{
    width:300px;
}


.autocompleteform-managecountry {
    border-radius: 10px;
    background-color: #EFF3FE;
    font-family: 'Work Sans', sans-serif;
    width: 83%;
    position: absolute;
    left: 1rem ;
    top: 123px;
    height: 65vh;
}

.autocompleteform-managecountry::-webkit-scrollbar {
    display: none;
}

.name {
    margin-left: 7px;
    font-weight: bold;
    font-weight: 600;
}

.first-textbox {
    display: inline-block !important;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.textinput {
    margin-right: 10px;
    width: 32%;
    display: inline-block;
}

.textinput:first-child {
    margin-left: 15px;
}


.textinput .MuiInputBase-root {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.Buttons {
    margin-top: 100px;
}

.buttonmain {
    display: flex;
    height: 40px;
    margin-left: 16px;
}

.button-container {
    display: flex;
    text-align: left
}

.button-container button {
    margin-right: 10px;
    text-align: center;
    background-color: #32499F;
    color: white;
}


.CANCEL {
    width: 20rem;
    /* text-align: left; */
    text-align: center;
    border-radius: 7px;


}

.Save {
    width: 20rem;
    text-align: left;
    border-radius: 7px;

}