body {
    margin: 0;
    padding: 0;
}

.loginpage {
    border: 1px solid black;
    background-color: lightblue;
}

.nuralservice {
    
}

.nuralservice p {
    font-size: 36px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    line-height: 20px;
    padding-top: 80px;
    padding-left: 10px;

}

.nuralservice img {
    width: 26%;
}

.footerlogo img{
    width: 104px;
}